<div class="row">
	<div class="hero splash">
		<div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-3 caption">
			<h1>Learn. Practice. Perform</h1>
			<hr></hr>
			<h4>Lessons - Tabs - Backing Tracks</h4> 
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-4 third" id="lesson-1">
		
		
		<h3>Lessons</h3>
		<hr />
		<img class="third-img img-responsive img-circle" src="/assets/lessons-1.jpg">
	</div>

	<div class="col-xs-12 col-sm-6 col-md-4 third">
		<h3>Guitar Pro Tabs</h3>
		<hr />
	</div>

	<div class="col-xs-12 col-sm-6 col-md-4 third">
		<h3>Backing Tracks</h3>
		<hr />
	</div>
</div>