// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1{

}

h3{
	color: #fefefe;
	
}

hr{
	border-color: #c67332;
}
.caption{
	color: #fff;
	text-align: center;
	padding-top: 150px;
	text-shadow: 2px 2px 2px #000;
	
}

.third{
	padding: 20px;
	height: 400px;
	text-align: center;
	background-color: #111;
}

.third-img{
	margin: 0 auto;
	height: 200px;
}

#lesson-1{

}