// Place all the styles related to the tabs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tabs{
	background-color: #111;

}

.tabs td{
	border: 1px solid #222;
	padding: 5px;
}

.tab-search{
	background-image: image-url('fretboard.png');
	background-size: cover;
    height: 200px;
	z-index: 1000;

}

.tab-form{
	background-color: rgba(22,22,22,.6);
	height: 200px;
	padding-top: 20px;
	text-align: center;
}

.tab-form form{
	padding-top: 20px;
}

table.tabs tr:hover td{
	background-color: #000;
}