// Place all the styles related to the tracks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-container{
	background-color: rgba(22,22,22,.6);
	height: 200px;
	padding-top: 20px;
	text-align: center;
}

.tracks{
	background-image: image-url('live.jpg');
	background-position: -15px;
	background-size: cover;
	height: 200px;
}
#track-player{
	height: auto;
	margin: 0 auto;
    text-align: center;
	
}

.track-container{

	z-index: 9999; 
	background-color: #111;
}

.track-form form{
	padding-top: 20px;
}
#track-player audio{
	padding-top: 25px;
	margin: 0 auto;
}

.track-list td{
	background-color: #111;
	border: 1px solid #222;
	padding: 5px;
}

table.track-list tr:hover td{
	background-color: #000;
}

.play{
	cursor: pointer;
}

.play:hover {
	color: #d07f00;
}

.modal-content{
	background-color: #111;
	height: 250px;
	border: 1px solid #fefefe;
}

.modal-header{
	border-bottom: none;
}

.download{
	width: 150px;
	margin: 0 auto;
}